build/
rl/models/
rl/image_datasets
rl/env/image_render_models
rl/env/expert
checkpoints
sample/
MUJOCO_LOG.TXT
.vscode/
__pycache__/
bin/
*.so
*.pickle
*.pyc
**/wandb/
libs/
key.txt
**/set_test*
set*_N
set*_N/
mjcf
profile/
*.out*
rl/juypter/data_gather_logs
# rl/juypter/thesis_plots
